<mat-accordion *ngIf="posts.length>0" class="example-headers-align">
  <mat-expansion-panel *ngFor="let post of posts; index as i; first as isFirst; last as isLast" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
     {{post.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{post.dateCreated}}

      </mat-panel-description>
    </mat-expansion-panel-header>


      <p>  {{post.description}}</p>
      <mat-slider  min="1" max="5" disabled="true" thumbLabel tickInterval="0.5" value="{{post.certainty}}" ></mat-slider>
    <mat-action-row>
      <button mat-button color="primary" >EDIT</button>
      <button mat-button color="warn" >DELETE</button>
      <button *ngIf="!isFirst" mat-button color="warn" (click)="prevStep()">&#171;</button>
      <button *ngIf="!isLast" mat-button color="primary" (click)="nextStep()">&#187;</button>
    </mat-action-row>
  </mat-expansion-panel>


</mat-accordion>
<p class="mat-h1" *ngIf="posts.length==0">Brak wpisów</p>

