<h2>Create new post</h2>
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input placeholder="Post title" ngModel matInput #title="ngModel"  type="text" name="title" required  >
      <mat-error *ngIf="title.invalid">enter title</mat-error>
    </mat-form-field>
  <mat-form-field>
  <textarea placeholder="Post content" ngModel matInput rows="5" #description="ngModel" name="description" required></textarea>
  <mat-error *ngIf="description.invalid">enter description</mat-error>
  </mat-form-field>
  <mat-slider required ngModel thumbLabel tickInterval="1" vertical name="certainty" #certainty="ngModel" min="1" max="5" step="1" value="3.0"></mat-slider>
  <button color="accent" mat-stroked-button type="submit">Add post</button>
  </form>
</mat-card>
